
.vermapas__container {
    background-color: black;
    background-image: url('https://www.xtrafondos.com/descargar.php?id=3337&vertical=1');
    background-size: cover;
    grid-template-rows: 4% 1fr 10% 1fr 1fr;
}

.vermapas__container-titulo {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 20px;
}
.vermapas__container-titulo-letra{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    justify-self: center;
}
.vermapas__container {
    color: #eeeeee;
}

.vermapas__container-mapas {
    display: grid;
}
.vermapas__container-descripcion {
   
    margin: 50px;
    font-weight: bold;
    display: grid;
}


.vermapas__containerdescripcion {
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 16px;
    margin-top: 25px;
}
.vermapas__mapas-carta-img-estilo {
    border: 5px #222831 solid;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 5px 5px #0b0d12;
}

.vermapas__container-objetivos {
    
    font-weight: bold;
  
    grid-template-rows: 15% 35% 15% 35%;
}

.vermapas__titulo {
    align-self: center;
    justify-self: center;
    font-size: 50px;
    display: grid;
}

.vermapas__titulo-letra {
    color: #eeeeee;
    font-size: 50px;
    align-self: center;
    justify-self: center;

}

.vermapas__container-lista {
    display: grid;
    grid-auto-rows: 350px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    background-color: black;
}

.vermapas__container-lista-mapa {
    display: grid;
}

.vermapas__container-lista-mapa-carta {
    align-self: center;
    justify-self: center;
    background-color: black;
    color: #eeeeee;
    font-weight: bold;
    height: 90%;
    width: 90%;
    display: grid;
    border: 5px #222831 solid;
}

.vermapas__mapas-carta-img-estilo {
    border: 5px #222831 solid;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 5px 5px #0b0d12;
    max-width: 90%;
}

.vermapas__mapa-carta-titulo {
    align-self: center;
    justify-self: center;
    font-size: 25px;
}

.vermapas__mapa-carta-descripcion {
    width: 90%;
    align-self: center;
    justify-self: center;
}

.vermapas__container-lista-video {
    display: grid;
    grid-auto-rows: 400px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    background-color: black;
}




.vermapas__tabla-imagen {
    background-color: #222831;
    
    width: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
   
}
.vermapas__1{
    display: grid;
     height: 100%;
    width: 100%;
    grid-template-columns: 50% 50%;

}



.vermapas__tabla-mapas-imagen-diseño {
    height: 100%;
    width: 100%;
}